body {
    background: linear-gradient(to right,#e9c810,#e920e9);
  }
  .username{
    align-items: center;
    align-content: center;
    background: #99b9e9;
    text-align: center;
    width: 450px;
    height: 40px;
  }
  .password{
    align-items: center;
    align-content: center;
    background: #99b9e9;
    text-align: center;
    width: 450px;
    height: 40px;
  }
  .login{
    width: 178px;
    background: rgb(104, 104, 206);
    text-align: center;
    width: 450px;
    height: 30px;
  }
  .loginForm{
    width: 450px;
  padding: 1.5rem;
  margin: 50px auto;
  border-radius: 10px;
  box-shadow: 0 20px 35px rgba(67, 67, 70, 0.9);
  background: #99b9e9;
  }